.DetectionGame {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Arimo", sans-serif;
  animation: pageSlideInFromRight 320ms ease both;
  transition: 0.3s;
  font-family: "Arimo", sans-serif;
}

@keyframes pageSlideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  flex: 1;
  overflow-y: auto;

  background-color: #f8fafc;
}

.title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0.25rem;
  color: #18a193;
}

.timer {
  margin: 0 auto;
  border: 0.104rem solid #46ecd5;
  border-radius: 1rem;
  padding: 0.25rem 0.75rem;
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 0.8125rem;
  background: #f0fdfa;
  color: #009689;
}

.bell {
  font-size: 0.875rem;
}

.timeText {
  font-weight: 500;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;
  border: 0.052rem solid #e5e7eb;
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem -0.0625rem rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  background: #ffffff;
}

.DetectionGame h2 {
  margin: 0;
}

.cardTitle {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.steps {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.steps li {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  margin-bottom: 0.625rem;
  font-size: 0.8125rem;
  line-height: 1.4;
}

.steps li p {
  color: #4a5565;
  font-size: 0.875rem;
}

.stepCircle {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  background: #cbfbf1;
  color: #18a193;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  flex-shrink: 0;
}

.rememberBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3125rem;
  padding: 1rem;
  font-size: 0.875rem;
  background: #fffbeb;
  border: 0.052rem solid #fee685;
  border-radius: 1rem;
}

p.rememberTitle {
  font-weight: 700;
  color: #973c00;
}

p.rememberText {
  color: #973c00;
}

.DetectionGame p {
  margin: 0;
}