#ScamGuidePage {
  width: 100%;
  height: 100vh;
  background: var(--bg-normal);

  display: flex;
  flex-direction: column;
  font-family: var(--font-normal);
  animation: pageSlideInFromLeft 320ms ease both;
}

@keyframes pageSlideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-outter);
  padding: var(--padding-page);
  overflow-y: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-cards);
  gap: var(--gap-outter);
  box-shadow: 0 0.0625rem 0.1875rem rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem -0.0625rem rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-large);
  background: var(--white);
}

.cardTitleRow {
  display: flex;
  align-items: center;
}

.cardTitle {
  font-size: var(--subTitle-small);
  font-weight: 600;
}

.tagRow {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  border: none;
  background: #e4f7f3; /* keep unique pastel */
  color: var(--primary);
  border-radius: 999px;
  padding: 0.3rem 0.5rem;
  font-size: var(--body-normal-t);
  cursor: pointer;
}

/* Slide */
.slidesViewport {
  width: 100%;
  overflow: hidden;
}

.slidesTrack {
  display: flex;
  width: 100%;
  will-change: transform;
  transition: transform 300ms ease-in-out;
}

.slideItem {
  flex: 0 0 100%;
  width: 100%;
}

.slideHeader {
  display: flex;
}

.slideTitle {
  font-size: var(--subTitle-small);
  font-weight: 600;
  color: var(--primary);
}

.slideTextBox {
  display: flex;
}

.slideText {
  font-size: var(--body-normal-t);
  line-height: 1.5;
  margin: 0;
  color: var(--body-normal-c);
}

.navRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navButton {
  border: none;
  background: transparent;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  font-size: var(--subTitle-small);
  color: var(--primary);
  transition: 0.3s;
}

.navArrow {
  font-size: 1rem;
}

.navDisabled {
  color: var(--primary);
  opacity: 0.5;
  cursor: default;
}

.dots {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.dot {
  width: 0.35rem;
  height: 0.35rem;
  border-radius: 50%;
  background: #d4d4d4;
}

.dotActive {
  background: var(--primary);
}
