.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-page);
  background: var(--white);
  height: 4.5rem;
}

.backBtn {
  border: none;
  background: transparent;
  font-size: var(--subTitle-small);
  color: var(--primary);
  cursor: pointer;
  text-align: left;
  margin-bottom: 0.5rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logoIcon {
  font-size: var(--subTitle-normal);
}

.logoText {
  font-weight: 600;
  font-size: var(--subTitle-small);
}
