.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0 14px;
  background: #ffffff;
  height: 84px;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 11px;
  color: #4a5565;
  width: 71px;
}

.navItem:nth-child(2) {
  color: #009689;

  background: #f0fdfa;
  border-radius: 14px;
  padding: 10px 25px;
}

.icon {
  font-size: 18px;
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}

.label {
  font-size: 11px;
}

/* AddMenu container */
@keyframes showUp {
  from {
    opacity: 0;
    pointer-events: none;
  }
  to {
    opacity: 1;
    pointer-events: auto;
  }
}

.addMenuOverlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
  animation: showUp 0.3s ease forwards;
  transition: 0.3s;
}

.addMenu {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 8px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0px 20px 25px -5px rgba(0, 0, 0, 0.1),
    0px 8px 10px -6px rgba(0, 0, 0, 0.1);
  border: 0.727273px solid #e5e7eb;
}

.item {
  padding: 18px 20px;
  border-radius: 16px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.blue {
  background: #eff6ff;
  color: #155dfc;
}
.orange {
  background: #fff7ed;
  color: #f54900;
}
.green {
  background: #f0fdf4;
  color: #00a63e;
}
