.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background: #ffffff;
  height: 5.25rem;
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
  font-size: 0.6875rem;
  color: #555;
  width: 4.99rem;
}

.navItem:nth-child(2) {
  color: #009689;

  background: #f0fdfa;
  border-radius: 1rem;
  padding: 0.625rem 1.5625rem;
}

.icon {
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
}

.label {
  font-size: 0.75rem;
}

/* AddMenu container */
@keyframes showUp {
  from {
    opacity: 0;
    pointer-events: none;
  }

  to {
    opacity: 1;
    pointer-events: auto;
  }
}

.addMenuOverlay {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: calc(100vh - 5.1875rem);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 999;
  animation: showUp 0.3s ease forwards;
  transition: 0.3s;
  background-color: rgb(0, 0, 0, 0.15);
}

.addMenu {
  position: absolute;
  bottom: 0.625rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.625rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 1.25rem 1.5625rem -0.3125rem rgba(0, 0, 0, 0.1),
    0 0.5rem 0.625rem -0.375rem rgba(0, 0, 0, 0.1);
  border: 0.0455rem solid #e5e7eb;
}

.item {
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  cursor: pointer;
}

.blue {
  background: #eff6ff;
  color: #155dfc;
  border: 1px solid #d5e5ff;
}

.orange {
  background: #fff7ed;
  color: #f54900;
  border: 0.0625rem solid #FEE685;
}

.green {
  background: #f0fdf4;
  color: #00a63e;
  border: 0.0625rem solid #B9F8CF;
}