/* ------- */
/* landing */
/* ------- */
#landing {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: black;
}

#landing .welcome_board {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0;
    z-index: 10;
    transition: height 0.3s ease;
    overflow: hidden;
    margin-bottom: 100px;
    pointer-events: none;
}

.welcome_board_scrolled {
    height: 50px !important;
}

.Galaxy_container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* position: relative; */
    z-index: 0;
    transition: height 0.3s ease;
}

#landing .welcome_content {
    position: absolute;
    left: 150px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    opacity: 0;
    animation: fadeIn 3s forwards;
    pointer-events: none;
}

.welcome_content_scrolled {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

#landing .welcome_board .word {
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing .welcome_board .word h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 0;
}

#landing .welcome_board .word p {
    font-size: 1.25rem;
    width: 800px;
    margin-top: 150px;
}

.buttonContainer {
    margin-top: 10px;
    display: flex;
    gap: 30px;
    opacity: 0;
    pointer-events: none;
    animation: fadeIn2 2s forwards;
    animation-delay: 0.5s;
}

#landing .buttonContainer .button {
    display: flex;
    justify-content: center;
    font-size: 20px;
    min-width: 200px;
    color: #000000;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid white;
}

#landing .buttonContainer .button:hover {
    background-color: transparent;
    color: white;
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        pointer-events: all;
    }

}

#landing main {
    /* background-color: white; */
    width: 90vw;
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    border-radius: 10px;
    z-index: 1;
    transition: 0.3s;
    margin-top: 100px;
}

.intro1 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 95%;
    margin: auto;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.intro1_1 {
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.intro1_2 {
    border: 3px solid black;
    border-radius: 10px;
}

.intro2 {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    width: 95%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.intro2.visible {
    opacity: 1;
}

.featureTitle {
    font-size: 2rem;
    margin-bottom: 5px;
}

.intro2_1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;

}

.intro2_1 div {
    /* width: 300px; */
    background-color: #000000;
    color: white;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
    max-width: 300px;
    height: 300px;
}

.intro2_1 img {
    border-radius: 50%;
}

.intro3 {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    width: 95%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.intro3.visible {
    opacity: 1;
}

.intro3_1 {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: repeat(3, 1fr);
}

.intro3_1_1 {
    margin: 10px;
}

.intro3_1_1 img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.intro4 {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.intro4.visible {
    opacity: 1;
}

.intro4_1 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.intro4_1_1 {
    grid-column: 3;
}

.intro4_1_1 img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.intro5 {
    opacity: 0;
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.intro5.visible {
    opacity: 1;
}

.input_area_fullScreen {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    transition: 0.3s;
    opacity: 0;
    pointer-events: none;
}

.input_area_background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: tr;
}

.input_area_container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    min-height: 300px;
    min-width: 400px;
    border: 1px solid white;
}

.input_area_content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.input_area_content form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input_area_content input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 16px;
}

.close_button {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: 0.3s;
}

.close_button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

.submitButton {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid white;
}

.submitButton:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}



/* decro */
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
    display: flex;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

.logo img {
    width: 120px;
    aspect-ratio: 1/1;
}

.logo_scrolled {
    position: fixed;
    top: -15px;
    right: 50%;
    transform: translateX(50%) scale(0.5);
    transition: transform 0.3s ease, top 0.5s ease, right 0.5s ease;
    background-color: black;
    border-radius: 50%;
}

.icon {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px 0;
    opacity: 0;
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    pointer-events: none;
}

.icon.visible {
    opacity: 1;
}