/* ------- */
/* Overall */
/* ------- */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  overflow: hidden; /* DO NOT REMOVE !! */
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden; /* DO NOT REMOVE !! */
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

.backBtn {
  color: #18a193;
  width: fit-content;
}

.mainStartBtn {
  width: 100%;
  height: 3.125rem;
  padding: 1rem 0;
  border-radius: 1rem;
  border: none;
  background: #18a193;
  color: #ffffff;
  font-size: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1),
    0 0.25rem 0.375rem -0.25rem rgba(0, 0, 0, 0.1);
}
