/* ------- */
/* Overall */
/* ------- */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb {
  width: 0px;
  height: 0px;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
}

.backBtn {
  color: #00786f;
  width: fit-content;
}

.mainStartBtn {
  margin-top: 18px;
  width: 100%;
  height: 50px;
  padding: 12px 0;
  border-radius: 16px;
  border: none;
  background: #00bba7;
  color: #ffffff;
  font-size: 16px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -4px rgba(0, 0, 0, 0.1);
}
