/* ------- */
/* Overall */
/* ------- */
/* Global design tokens */
:root {
  --primary: #18a193;

  --right: #00a63e;
  --report: #f54900;
  --warning: #973c00;
  --wrong: #b91c1c;
  --info: #155dfc;

  --btn-right: #f0fdf4;
  --btn-report: #fff7ed;
  --btn-warning: #fff7ed; /* sharing same base until differentiated */
  --btn-wrong: #fef2f2;
  --btn-info: #eff6ff;
  --btn-normal: #f9fafb;
  --success-alt-bg: #e8f9ee;
  --error-alt-bg: #ffecec;

  --title-normal-c: #000000;
  --black-200: rgb(0, 0, 0, 0.25);
  --black-100: rgb(0, 0, 0, 0.1);
  --body-normal-c: #555555;
  --white: #ffffff;

  --bg-normal: #f8fafc;
  --li-bg: #cbfbf1;
  --neutral-muted: #94a3b8;

  /* Border */
  --info-tint: #d5e5ff;
  --right-border-tint: #b9f8cf;
  --report-border-tint: #fee685;
  --wrong-border-tint: #ffc9c9;

  --font-normal: "Arimo", sans-serif;
  --title: 2rem;
  --subTitle-large: 1.5rem;
  --subTitle-normal: 1.125rem;
  --subTitle-small: 1rem;
  --body-normal-t: 0.8125rem;
  --caption: 0.7rem;

  --radius-xlarge: 100%;
  --radius-large: 1.5rem;
  --radius-normal: 1rem;
  --radius-small: 4px;

  --gap-outter: 1rem;
  --gap-inner: 0.625rem;
  --padding-page: 1rem;
  --padding-msgs: 1rem;
  --padding-cards: 1.5rem;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-thumb {
  width: 0;
  height: 0;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  overflow: hidden; /* DO NOT REMOVE !! */
}

body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100vw;
  overflow: hidden; /* DO NOT REMOVE !! */
}

main {
  flex: 1;
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

/* Back to main */
.backBtn {
  color: var(--primary);
  width: fit-content;
}

/* Back */
.backButton {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 1rem;
  color: var(--primary);

  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}

.mainStartBtn {
  width: 100%;
  height: 3.125rem;
  padding: var(--padding-page) 0;
  border-radius: var(--radius-normal);
  border: none;
  background: var(--primary);
  color: var(--white);
  font-size: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  box-shadow: 0 0.625rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1),
    0 0.25rem 0.375rem -0.25rem rgba(0, 0, 0, 0.1);
}
